parameters:
    level: 1
    bootstrapFiles:
        - "%currentWorkingDirectory%/.Build/vendor/autoload.php"
    paths:
        - %currentWorkingDirectory%/Classes
        - %currentWorkingDirectory%/ext_localconf.php
        - %currentWorkingDirectory%/ext_tables.php
        - %currentWorkingDirectory%/ext_emconf.php
    excludePaths:
        # exclude the backend devlogentry repository, dependency to doctrine collection cant be resolved
        -  %currentWorkingDirectory%/Classes/Backend/Repository/DevlogEntryRepository.php
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Undefined variable: \$_EXTKEY#'
        - '#Attribute class TYPO3\CMS\\Backend\\Attribute\\Controller does not exist#'
        -
            message: '/Call to an undefined static method/'
            path: %currentWorkingDirectory%/Classes/Utility/ComposerUtility.php
