<f:comment>Can be removed when support for TYPO3 11 is dropped</f:comment>
<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
        xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
        data-namespace-typo3-fluid="true">

<f:asset.css identifier="mklogCss" href="EXT:mklog/Resources/Public/Css/backend.css" />
<f:asset.script identifier="mklogJs" src="EXT:mklog/Resources/Public/JavaScript/backend.js" />
<f:render section="Content" />
</html>
