<f:comment>Can be removed when support for TYPO3 11 is dropped</f:comment>
<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
        xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
        data-namespace-typo3-fluid="true">

<f:be.pageRenderer
    includeJsFiles="{
        0: 'EXT:mklog/Resources/Public/JavaScript/backend.js',
    }"
    includeCssFiles="{
        0: 'EXT:mklog/Resources/Public/Css/backend.css'
    }"
/>
<f:render section="Content" />
</html>
