<!-- Function menu snippet -->
<div class="docheader-funcmenu">###FUNC_MENU###</div>
<!-- / Function menu snippet -->

<!-- ###FULLDOC### begin -->
<style type="text/css">
	.clear {
		clear:both;
	}
	hr, .hr {
		display:block;
		height:1px;
		border:0;
		border-top:1px solid #A2AAB8;
		margin:1em 0;
		padding:0;
	}
	.heading {
		display: none;
	}
	.mkindent {
		margin-left: 10px;
	}
	.mkheader h2 {
		font-size: 1.6em;
		margin-bottom: 1em;
	}
	.mksubheader {
		font-weight: bold;
		font-size: 1em;
		line-height: 19px;
		margin: 0 -1em;
		padding: 0 1em;
	}
	.mkselector {
	}
	.mktabs {
		width: 95%;
	}
	.mklist .typo3-dblist {
		margin: 0;
		width: 100%;
	}
	.mklist table.typo3-dblist .t3-row-header td {
		border: 0 solid transparent;
	}
	.mklist table.typo3-dblist tr td  {
		border: 1px solid rgba(102, 102, 102, 0.16);
	}
	.mklist table.typo3-dblist table tr td  {
		border: 0 solid transparent;
	}
	.mksubselector {
		margin-top: 1em;
	}
	.mkmaincontent {
		border: 1px solid #A2AAB8;
		padding: 0 1em;
		width: 98%;
	}
	.mkcontent {
		/*width: 95%;*/
	}
	.mksearchform {
		float: left;
		width: 46%;
	}
	.mkbuttons, .mkpager {
		float: right;
		width: 46%;
	}
	.mkdetails p {}
	.mkdetails p {
		margin: 5px 0;
	}
	.status, .graybox, .heading {
		margin: 0 0 1em 0;
		padding: 10px;
		background-color: #E4E5F0;
		border: 1px solid #A2AAB8;
	}
	.status, .heading {
		margin: 2em 0;
	}
	.graybox h2.bgColor2 {
		/* das padding der graybox ausgleichen */
		margin: -10px -10px 10px;
	}
	h2.bgColor2 {
		margin: 0em 0 -1px 0;
		line-height: 20px;
		padding: 0 10px;
	}
	h2.bgColor2.t3-row-header {
		font-size:12px;
	}
	.tables table .t3-row-header td {
		font-weight:bold;
	}
	.tables table tr td  {
		padding:4px 8px;
	}
	.btnBlock {
		margin: 1em 0;
	}
	input[type=submit] {
		height: 20px;
		padding: 0 6px 2px;
		font-weight:bold;
		cursor: pointer;
	}
	.mkbuttons a, .mkbuttons input[type=submit] {
		/*  		display: block;  */
		float: left;
		line-height: 16px;
		margin: 0 5px;
	}
	.mkbuttons a img {
		padding: 0 5px 0 0;
		vertical-align: bottom;
	}
	.imgsubmit {
		position: relative;
		margin: 0 5px;
		float: left;
	}
	.imgsubmit span {
		left: 8px;
		margin: 0;
		position: absolute;
		top: 2px;
	}
	.imgsubmit input[type="submit"] {
		/* 	    background: none repeat scroll 0 0 transparent; */
		/* 	    border: medium none white; */
		float: none;
		/* 	    margin: 0; */
		/* 	    paddding: 0 0 2px; */
		padding-left: 24px;
	}

	.submit {
		margin: 1em 0;
	}
	.submit input[type="submit"] {
		margin-bottom:5px;
	}

	a.button {
		background: #FEFEFE url("../../../../typo3/sysext/t3skin/icons/gfx/bg_input_button.gif") repeat-x scroll 0 0;
		border: 1px solid #ACB3BE;
		color: #333333;
		padding: 2px 4px;
		display:inline-block;
	}
	a.tooltip { text-decoration:none; }
	.tooltip span.info { display:none;position:absolute; padding:2px; background-color:white; }
	.tooltip:hover span.info { display:block; }

	.info {
		background: #eff5ea; color: #3d6611; font-weight: bold; padding: 4px;
	}
	.ef-hidden {
		color: #999;
	}

	.mk_tabs {
		margin-top: 10px;
	}
</style>
<div class="typo3-fullDoc">
	<!-- Page header with buttons, path details and csh -->
	<div id="typo3-docheader">
		<div id="typo3-docheader-row1">
			<div class="buttonsleft">###BUTTONLIST_LEFT###</div>
			<div class="buttonsright">###BUTTONLIST_RIGHT###</div>
		</div>
		<div id="typo3-docheader-row2">
			<div class="docheader-row2-left">
				<div class="docheader-csh">###CSH###</div>
			</div>
			<div class="docheader-row2-right">###PAGEPATH######PAGEINFO###</div>
		</div>
	</div>
	<!-- Content of module, for instance listing, info or editing -->
	<div id="typo3-docbody">
		<div id="typo3-inner-docbody" style="padding:5px;">
			<div class="mkheader" style="margin-bottom:-20px">###HEADER###</div>
			<div class="mktabs mkselector">###SELECTOR###</div>
			<div class="cleardiv"></div>
			<div class="mktabs mkselector">###FUNC_MENU###</div>
			<div class="cleardiv"></div>
			<div class="mkmaincontent">
				<div class="mksubheader bgColor2 t3-row-header">&nbsp;<!-- ###HEADING_SUBMENU### --></div>
				<div class="mktabs mksubselector">###SUBMENU###</div>
				<div class="mkcontent">###CONTENT###</div>
			</div>
		</div>
	</div>

</div>
<!-- ###FULLDOC### end -->

<!-- ###BUTTON_GROUP_WRAP### -->
<div class="buttongroup">###BUTTONS###</div>
<!-- ###BUTTON_GROUP_WRAP### -->

<!-- ###BUTTON_GROUPS_LEFT### -->
<!-- ###BUTTON_GROUP1### -->###VIEW###<!-- ###BUTTON_GROUP1### -->
<!-- ###BUTTON_GROUPS_LEFT### -->

<!-- ###BUTTON_GROUPS_RIGHT### -->
<!-- ###BUTTON_GROUP1### -->###RECORD_LIST######SHORTCUT###<!-- ###BUTTON_GROUP1### -->
<!-- ###BUTTON_GROUPS_RIGHT### -->

