{namespace mk=DMK\Mklog\ViewHelper}

<f:layout name="Module" />

<f:section name="Before">
    <f:asset.css identifier="mklogCss" href="EXT:mklog/Resources/Public/Css/backend.css" />
    <f:be.pageRenderer
        includeJavaScriptModules="{
            0: '@dmk/mklog/backend.js',
        }"
    />
</f:section>

<f:section name="Content">
    <h1><f:translate key="LLL:EXT:mklog/Resources/Private/Language/Backend.xlf:title" /></h1>
    <f:render section="Form" arguments="{_all}" />
    <f:render section="Results" arguments="{_all}" />
</f:section>

<f:section name="Form">
    <div class="">
        <form action="{f:be.uri(route: 'dmk_mklog_list', parameters: '{id: pageUid}')}" method="post" id="BackendModuleController" name="search">
            <div class="form-row">

                <div class="form-group">
                    <label class="form-label" for="severity"><f:translate key="LLL:EXT:mklog/Resources/Private/Language/Backend.xlf:label_filter_severity" /></label>
                    <div class="input-group">
                        <f:render partial="DropdownMenu" arguments="{name: 'severity', id: 'severity', options: severitySelectOptions, currentValue: formData.severity}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label" for="extension"><f:translate key="LLL:EXT:mklog/Resources/Private/Language/Backend.xlf:label_filter_extkeys" /></label>
                    <div>
                        <f:render partial="DropdownMenu" arguments="{name: 'extension', id: 'extension', options: extensionsSelectOptions, currentValue: formData.extension}"/>
                    </div>
                </div>
                <div class="form-group align-self-end">
                    <div class="input-group">
                        <input
                            class="form-control form-control-clearable"
                            type="text"
                            id="term"
                            name="term"
                            value="{formData.term}"
                            placeholder="{f:translate(key: 'LLL:EXT:mklog/Resources/Private/Language/Backend.xlf:label_search')}"
                        />
                        <button type="submit" class="btn btn-default"><core:icon identifier="actions-search" /></button>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label class="form-label" for="itemsPerPage"><f:translate key="LLL:EXT:mklog/Resources/Private/Language/Backend.xlf:label_filter_itemsperpage" /></label>
                    <div class="input-group">
                        <f:render partial="DropdownMenu" arguments="{name: 'itemsPerPage', id: 'itemsPerPage', options: itemPageOptions, currentValue: formData.itemsPerPage}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label" for="itemsPerPage"><f:translate key="LLL:EXT:mklog/Resources/Private/Language/Backend.xlf:label_filter_page" /></label>
                    <f:render partial="DropDownPagination" arguments="{paginator:paginator, pagination:pagination, currentPage:currentPage, pageUid:pageUid}" />
                </div>
            </div>
        </form>
    </div>
</f:section>

<f:section name="Results">
    <h2><f:translate key="LLL:EXT:mklog/Resources/Private/Language/Backend.xlf:label_results" arguments="{0: resultsCount}" /></h2>

    <table class="table table-striped table-hover table-condensed">
        <thead>
            <tr>
                <td><f:translate key="LLL:EXT:mklog/Resources/Private/Language/Backend.xlf:label_tableheader_extra_data" /></td>
                <td><f:translate key="LLL:EXT:mklog/Resources/Private/Language/Backend.xlf:label_tableheader_crdate" /></td>
                <td><f:translate key="LLL:EXT:mklog/Resources/Private/Language/Backend.xlf:label_tableheader_severity" /></td>
                <td><f:translate key="LLL:EXT:mklog/Resources/Private/Language/Backend.xlf:label_tableheader_ext_key" /></td>
                <td><f:translate key="LLL:EXT:mklog/Resources/Private/Language/Backend.xlf:label_tableheader_message" /></td>
            </tr>
        </thead>
        <tbody>
            <f:for each="{paginator.paginatedItems}" as="result">
                <tr>
                    <td>
                        <input type="checkbox" id="log-toggle-{result.uid}-link" style="display: none;">
                        <label for="log-toggle-{result.uid}-link" class="log-toggle-link" onclick="DMK.DevLog.toggleData({result.uid});"></label>
                    </td>
                    <td>
                        <f:be.link route="dmk_mklog_list" parameters="{runId: result.runId}">
                            <f:format.date format="d.m.Y H:i:s">{result.crdate}</f:format.date>
                        </f:be.link>
                    </td>
                    <td><f:format.raw><mk:severityIcon logEntry="{result}" /></f:format.raw></td>
                    <td>{result.extKey}</td>
                    <td>{result.message}</td>
                </tr>
                <tr class="log-hidden">
                    <td colspan="5"><f:format.raw><mk:extraData logEntry="{result}" /></f:format.raw></td>
                </tr>
            </f:for>
        </tbody>
    </table>
</f:section>
